h2 About Student Records Management
p This web application is created as part of Assignment - 3 under COEN 278 - Advanced Web Programming under Professor Yuan Wang. Students Record Management is a web application built on Sinatra.