h2 Students Record Management - Web Application
h4 Brief overview of the functionalities of this Web Application
h3 Students
p In this section of navigation one can
ul
li View a particular student's record or view all students record
li Add a new student's record
li Edit a student's record and
li Delete a student's record
h4 Only a logged in user can perform the above mentioned actions!!

h3 About
p This page describes the techincal aspects and the build of this web application.

h3 Contact
p This section of navigation gives out information regarding the ways to contact the University which holds the students records.